<div class="container">
  <div class="row">
    <div class="offet-2 col-md-8 offset-2 add-post-div">
      <h1 class="text-center">Updating Category Control Center</h1>
      <div class="form-collection">
        <div class="form-group">
          <label for="title">Title: </label>
          <input
            autocomplete="off"
            type="text"
            [(ngModel)]="category.name"
            name="name"
            id="title-input"
            class="form-control"
          />
        </div>
        <button (click)="updateCategory()" class="btn btn-warning">
          Yenilə
        </button>
        <button (click)="backToHome()" class="btn btn-danger ml-3">
          Geriyə
        </button>
      </div>
    </div>
  </div>
</div>
