.add-post-div {
  margin-bottom: 25px;

  a {
    display: inline-block;
    font-size: 3.5rem;
    color: #ffffff;
    background-color: #7934f3;
    border-radius: 5px;
    padding: 0 10px;
  }
}

.card {
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

span.user-profile {
  display: inline-block;
  background-image: url(../../assets/images/author/author_photo.jfif);
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: top;
  border-radius: 50%;
}
