<div>
  <div class="container">
    <div class="row">
      <div class="offset-2 col-md-8">
        <h1 class="text-center">{{content}}</h1>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="writings">
          <p class="text-center">{{writings}}</p>
        </div>
        <div class="btn-div">
          <button class="btn btn-warning" (click)="ClickTrigger()">Click</button>
        </div>
        <ul *ngIf="Sorter().length>0 else diger">
          <li *ngFor="let item of Sorter()">{{item}}</li>
        </ul>

        <ng-template #diger>
          <h1 class="text-center">Bu arrayde element yoxdur</h1>
        </ng-template>


        <h1 [style]="mainStyles">Əsas yazılar</h1>
      </div>
    </div>
  </div>
</div>