<div class="container">
  <div class="row">
    <div class="offet-2 col-md-8 offset-2 add-post-div">
      <h1 class="text-center">Updating Post Control Center</h1>
      <div class="form-collection">
        <div class="form-group">
          <label for="imagePath">Image path: </label>
          <input
            autocomplete="off"
            type="text"
            [(ngModel)]="product.imagePath"
            name="imagePath"
            id="imagePath-input"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="title">Title: </label>
          <input
            autocomplete="off"
            type="text"
            [(ngModel)]="product.title"
            name="title"
            id="title-input"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="description">Description: </label>
          <input
            autocomplete="off"
            type="text"
            [(ngModel)]="product.description"
            name="description"
            id="description-input"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="replyCount">Price: </label>
          <input
            autocomplete="off"
            type="number"
            [(ngModel)]="product.price"
            name="price"
            id="replyCount-input"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="replyCount">Category Id: </label>
          <input
            autocomplete="off"
            type="number"
            [(ngModel)]="product.categoryId"
            name="categoryId"
            id="replyCount-input"
            class="form-control"
          />
        </div>
        <button (click)="updateProduct()" class="btn btn-warning">
          Yenilə
        </button>
        <button (click)="backToHome()" class="btn btn-danger ml-3">
          Geriyə
        </button>
      </div>
    </div>
  </div>
</div>
